table {
	border-collapse: collapse;
}

th, b, strong, h1, h2, h3, h4 {
	font-weight: bold;
}

th, td {
	text-align: left;
}

th, td, p, ul, ol, li, div, span, a, tr, b, strong, em, i, body, * {
	font-family: Arial, Sans-serif;
	font-size: 12px;
}