:root {
	font-size: 16px;
}
html, body, div, button, a, input, textarea, section, article, p, h1, h2, h3, h4, h5, h6, select, label, ol, ul, li
table, tr, td, th {
	font-family: 'Roboto', sans-serif !important;
	font-size: 1em;
	color: #555;
}
body{
	background-color: #f2f2f2 !important;
}
* {
	outline: none !important;
}
h2 {
    font-size: 1.25rem;
    color: #424951;
    font-weight: 400;
}
h4 {
    font-size: 1rem !important;
    color: #424951 !important;
    font-weight: 400 !important;
    margin: 0 0 25px;
}
#mainWrapper {
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 400px;
	position: absolute;
	right: 0;
	top: 0;
	width: 400px;
}
#changepasswordWrapper {
	margin: 50px auto;
	width: 400px;
	
}
.logo-wrapper {
	border-bottom: 1px solid #ccc;
	margin:10px 0 0;
	text-align: center;
}
.logo-wrapper > h1 {
	font-size: 1rem;
	font-weight: 400;
	margin: 15px 0 20px;
}
.form-actions {
    border-top: 1px solid #ccc;
    padding: 15px 25px 30px;
    overflow: hidden;
}
.forgot-password {
    font-weight: 400;
    float: right;
    color: #ed1c24;
    text-decoration: none;
}
.forgot-password:hover{
	text-decoration: underline;
	color: #555;
}
.login-btn {
    width: 100%;
	height: 40px;
	background-color: #ed1c24;
	border: none;
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	margin: 15px 0 0;
	display: block;
	text-align: center;
	line-height: 40px;
}
.login-btn:hover {
	background-color: #555;
	text-decoration: none;
	color: #fff;
}
.blue-btn{
	background-color: #00bfb3;
	color: #fff;
}
.input-wapper {
    margin: 20px 25px 30px;
}
.input-content {
    position: relative;
}
.input-content > input[type="text"], .input-content > input[type="password"],
.input-content > input[type="email"]{
	width: 100%;
	height:40px;
	line-height: 40px;
	border: 1px solid #ccc;
	padding: 0 45px 0 15px;
	color: #7b7a7a;
	font-size: 0.9375rem;
	font-weight: 300;
}
.input-content > input[type="text"] {
	margin-bottom: 15px;
}
.input-content .fa {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 2.375rem;
    text-align: center;
    color: #979696;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    font-size: 1rem;
    top: 0;
}
.forgot-txt {
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    font-size: 1rem;
}
.help-block {
    font-size: 0.75rem;
}
.yum-body-wapper .alert {
    padding: 5px 15px;
    border-radius: 0;
    font-size: 0.8125rem;
    position: relative;
}
.yum-body-wapper .alert-danger {
    background-color: rgba(255, 0, 0, .025);
    border-color: #f00;
    color: #000 !important;
}
.yum-body-wapper .alert-success {
    background: rgba(76, 175, 80,.025);
    border-color: rgba(76, 175, 80);
    color: #000 !important;
}
.yum-body-wapper .alert-dismissable .close, .yum-body-wapper .alert-dismissible .close {
    top: 0;
    right: -5px;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
}
.mb-3{
	margin-bottom: 15px;
}
.mt-3{
	margin-top: 15px;
}
header{
	background-color: #000;
    padding: 10px 15px;
}
h1{
	margin-bottom: 0;
}
h1 span {
    color: #fff;
    font-size: 1rem;
    vertical-align: middle;
}
.topnav ul.tp-nav {
    margin: 0;
    padding: 0;
	list-style: none;
	float: right;
}
.topnav ul.tp-nav > li{
	display: block;
	float: left;
	color: #fff;
	line-height: 30px;
	position: relative;
}
.topnav ul.tp-nav > li + li{
	margin-left: 15px;
}
.user-icon, 
.setting-icon,
.logout{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #464646;
	text-align: center;
	border: none;
}
.user-icon{
	background-color: #fff;
	position: relative;
	float: left;
}
.user-icon > i{
	color: #ed1c24;
    font-size: 2.22em;
    position: absolute;
    left: -3px;
    top: -2px;
}
ul.nav-dropdown {
    position: absolute;
    background: #fff;
    width: 200px;
    right: 0;
	top: 30px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
	margin:0;
	padding:0;
	display: none;
	z-index:1;
}
ul.nav-dropdown li {
    width: 100%;
    list-style: none;
    text-align: left;
}
ul.nav-dropdown li:not(:first-child){
	border-top: 1px solid #eee;
}
ul.nav-dropdown li > a {
    padding: 5px 15px;
    cursor: pointer;
	font-size: 0.875rem;
	display: block;
	text-decoration: none;
	color: #555;
}
ul.nav-dropdown li > a:hover{
	background-color: #f1f1f1;
}
.topnav ul.tp-nav > li:hover ul.nav-dropdown{
	display: block;
}
.welcome-user {
    float: left;
    margin-right: 15px;
    font-weight: 500;
}
.setting-icon ,
.logout {
	cursor: pointer;
}
.setting-icon a > i{
	font-size: 1.3em;
	color: #fff;
	line-height: 2rem;
}
.logout > i{
	font-size: 1.25em;
	color: #fff;
	line-height: 30px;
}