/* You can add global styles to this file, and also import other style files */
:root {
	font-size: 16px;
}
html, body, div, button, a, input, textarea, section, article, p, h1, h2, h3, h4, h5, h6, select, label, ol, ul, li
table, tr, td, th {
	font-family: 'Roboto', sans-serif !important;
	font-size: 1em;
	color: #555;
}
html{ background-color: #f2f2f2;}
* {
	outline: none !important;
}
form {
    width: 100%;
}
.btn {
    border-radius: 0 !important;
    font-size: 0.875rem !important;
    min-width: 70px;
	cursor: pointer;
}
.btn.focus, 
.btn:focus{
	box-shadow:none !important;
}
.red-btn{
	background-color: #ff6f75;
	color: #fff;
}
.purpul-btn{
	background-color: #a20067;
	color: #fff;
}
.green-btn{
	background-color: #b8bd00;
	color: #fff !important;
}
.blue-btn{
	background-color: #00bfb3;
	color: #fff;
}
.orange-btn{
	background-color: #f38a2b;
	color: #fff;
}
.grey-btn{
	background-color: #555;
	color: #fff;
}
.bg-white {
	background-color: #fff;
}
.txt-white {
	color: #fff;
}
.bg-light-gray {
	background-color: #f2f2f2;
}
.border-grey {
	border: 1px solid #ccc;
}
.cursor-pointer{ cursor: pointer;}
.error {
    color: #f00;
    font-size: 0.85rem;
    margin: 0;
    display: block;
}
.main-content {
	padding: 20px 0;
}
h2.page-title {
	font-size: 1.25rem;
	color: #424951;
	margin: 0 0 15px;
}
.nav-tabs {
	padding: 0 15px !important;
	border-bottom: 1px solid #ccc !important;
}
.nav-tabs .nav-item + .nav-item {
	margin-left: 30px;
}
.nav-tabs .nav-link {
	padding: 0;
	color: #2e2e2e;
	border: none !important;
	font-weight: 500;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
	color: #2e2e2e;
	border: 0 none !important;
	border-bottom: 3px solid #ed1c24 !important;
	border-radius: 0;
	z-index: 1;
}
.nav-tabs .nav-link span {
    padding: .5em 0;
    display: block;
}
.tab-pane {
	padding: 15px !important;
}
.emp-Info {
    border: 1px solid #ccc;
    padding: 15px;
    background: #fafafa;
}
.emp-Info .label-txt {
    font-size: 0.875rem;
	font-weight: 500;
}
.emp-Info .emp-info-input {
	background: none !important;
	border-radius: 0;
	border: none;
	color: #717171 !important;
	font-size: 0.875rem;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}
.goal-wapper, 
.plan-wapper {
    padding: 15px;
}
.goal-type-bar, 
.plan-type-bar, 
.pa-head-bar {
	background-color: #00bfb3 !important;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.5rem;
}
.goal-type-bar > div, 
.plan-type-bar > div, 
.pa-head-title{
    color: #fff;
    line-height: 1.2;
    padding: 10px 0;
}
.goal-type-bar > .fa, 
.plan-type-bar > .fa {
    float: left;
    display: block;
    margin: 11px 0 0 0;
    width: 25px;
}
.non-ylb-bar{ margin-top: 15px;}

.goal-wapper .goal-table-head,
.admin-section .goal-wapper.manage-files .goal-table-head,
#tag_history .goal-table-head,
.plan-wapper .plan-table-head-lb,
.admin-section .goal-wapper .goal-table-sub-head{
    background-color: #ecfffe;
    line-height: 1rem;
    color: #000;
    font-size: 0.875rem;
    padding: 10px 0;
    font-weight: 500;
}
.plan-wapper .plan-table-head {
    border: 1px solid #00bfb3;
	background-color: #ecfffe;
    line-height: 1rem;
    color: #000;
    font-size: 0.875rem;
    font-weight: 500;
}
.plan-wapper .plan-table-head .column {
    border-left: 1px solid #00bfb3;
    padding: 10px 15px;
}
.plan-wapper .plan-table-head .column:first-child {
    border: none;
}
.goal-listing-wapper > div,
.pa-goal-listing,
.pa-evl-listing {
  margin-top: 10px;
  background-color: #fbfbfb;
  border: 1px solid #ccc;
  border-left: 5px solid #00bfb3;
  font-size: 0.875rem;
}
.plan-bar-title{color: #fff;}
.plan-bar-desp{
    color: #fff;
    text-transform: none;
    font-size: 13px;
}
.table-body > div > div > div,
#tag_history .goal-listing-wapper > div > div,
.pa-evl-listing > div {
    border-left: 1px solid #a5a5a5;
    padding-top: 5px;
    padding-bottom: 25px;
}
.pa-goal-listing > div{
    border-left: 1px solid #a5a5a5;
}

.pa-self-rating {
    border-left: none;
}
.brd-right{
    border-right: 1px solid #a5a5a5;
}

.plan-bar-desp ul{
    color: #fff;
    line-height: 20px;
    margin: 5px 0;
}

.table-body > div > div > div:first-child,
#tag_history .goal-listing-wapper > div > div:first-child,
.pa-goal-listing > div:first-child,
.pa-evl-listing > div:first-child {
    border-left: none;
}

.goal-list {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	position: relative;
}
.goal-list > ul,
.goal-list > ol
{ 
    margin: 0 0 0 15px; 
    padding-left: 18px;
}
.goal-list > .btn {
    margin: 0 0 0 30px;
}
.timeline {
    color: #000;
    font-weight: 500;
}
.task-content, p{
    margin: 0 !important;
}
.emp-task {
	position: relative;
	margin-right: 15px;
}
.task-action {
    position: absolute;
    right: -30px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #b8bd00;
    color: #fff;
    text-align: center;
	cursor: pointer;
}

.action-dropdown {
    min-width: 200px !important;
	width: auto;
    margin: 20px 0 0;
}

.action-dropdown > div {
    padding: 0;
}

.action-dropdown > div > button {
    padding: 0 15px;
	font-size:0.875rem;
	line-height:2.5rem;
	height:2.5rem;
}
.action-dropdown > div > button:not(:first-child){
	border-top: 1px solid #f5f5f5;
}
.action-dropdown > div > button > i{ width:20px;}
.cke_toolgroup {
	float: left;
	margin: 0 6px 5px 0;
	border: 0 none !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	background: transparent !important;
	background-image: none !important;
}

.task-info > div {
	position: relative;
	display: inline-flex;
	padding: 0 5px;
	color: #fff;
	font-size: 0.6875rem;
	line-height: 1.25rem;
	text-transform: uppercase;
}

.task-info > div + div{
	margin-left: 5px;
}

.modal {
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	padding: 0!important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.yum-body-wapper .modal-content{
	border-radius: 0;
	padding: 0 15px 15px;
}
.yum-body-wapper .modal-header {
    padding: 0;
    border-bottom: 1px solid #00bfb3;
	position: relative;
}
.yum-body-wapper .modal-title {
    color: #00bfb3;
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.yum-body-wapper .modal-body { padding:20px 0;}
.modal-close {
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: -30px;
    top: -15px;
    border: 0;
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    box-shadow: 0 1px 3px 0px rgba(0,0,0,.25);
    cursor: pointer;
}
.yum-body-wapper .modal-footer {
    padding: 15px 0 0;
	display: block;
	border-color: #00bfb3;
}

.taskEditor {
    border: 1px solid #c9c9c9;
	font-size: 0.875rem;
	min-height: 55px;
}
.taskEditor.casecade {
    border: 1px solid #a20067;
}
.taskEditor.tagged {
    border: 1px solid #f38a2b;
}
.taskEditor > div {
    padding: 5px 10px;
    min-height: 53px;
}
.manage-task-list + .manage-task-list > .task-separator {
    background: #d5d5d5;
    width: 100%;
    height: 1px;
    margin: 15px;
}
.modal-sm-action-btn{
    width: 30px;
    height: 30px;
    background: #555;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.875rem;
    font-size: 1.125rem;
	cursor: pointer;
}
.modal-sm-action-btn + .modal-sm-action-btn {
    margin-right: 5px;
}
.edit-tag {background-color: #00bfb3;}
.deleteTask, .delete-tag {background-color: #555;}
.custom-select{
    width: 100%;
    height: 5rem;
}
.manage-tag-wapper {
    border-top: 1px solid #00bfb3;
    margin: 15px 0 0;
}

.manage-tag-wapper > h3 {
    font-size: 1rem;
    color: #00bfb3;
    line-height: 2.5rem;
    text-transform: uppercase;
}
.tag-data {
    background-color: #fbfbfb;
    border: 1px solid #f6f5f5;
    padding: 5px 15px 10px;
    font-size: 0.875rem;
}
.tag-data > div > div:not(:first-child) .tagged-list  {
    border-top: 1px solid #d5d5d5;
    margin-top: 10px;
    padding-top: 10px;
}
.tag-emp-list {
    color: #000;
	margin: 0 0 5px;
}

.tag-emp-list > span + span:before {
    content: ",";
    margin: 0 8px 0 0;
}
.tagged-content {
    color: #a1a0a0;
}

.yum-body-wapper .select2-container--classic .select2-selection--multiple{
	border:1px solid #ccc;
	border-radius: 0;
}
.yum-body-wapper .select2-container--classic .select2-search--inline .select2-search__field {
    background: #FcFcfc;
    border: 1px solid #e6e6e6;
    padding: 0 5px;
    font-size: 0.875rem;
}
.yum-body-wapper .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background: #fafafa;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    font-size: 0.875rem;
    height: 2rem;
    line-height: 2rem;
}
.yum-body-wapper .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    float: right;
    margin: 0 0 0 10px;
    font-size: 1.3rem;
}
.yum-body-wapper .select2-results__options li{
	font-size: 0.875rem;
}
.yum-body-wapper .select2-results__options li[aria-selected="true"], 
.custDisabled,
.disabled,
button:disabled {
    background-color: #e8e8e8;
	pointer-events: none;
	color: #868e96 !important;
}
.aggred-wapper {
    margin-top: 20px;
}
.check-agree input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    background: #cbd1d8;
    width: 16px;
    height: 16px;
    top: 3px;
    margin: 0 5px 0 0;
	cursor: pointer;
}
.check-agree input[type="checkbox"]:checked {
  background: #f38a2b;
}
.check-agree input[type="checkbox"]:checked::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: '\f00c';
  color:#fff;
  left: 0px;
  top: -5px;
  font-family: FontAwesome;
}
.check-agree label {
    font-size: .875em;
}
.yum-body-wapper .mat-tooltip {
    margin: 0;
    font-size: 0.75rem;
}
.saving-txt {
    width: 85px;
    display: table;
    font-size: 0.875rem;
    margin: 7px 10px 0 0;
}
.loader {
  border: 4px solid #d1d1d1;
  border-radius: 50%;
  border-top: 4px solid #555;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  float: right;
}
.loader-img {
  border: 4px solid #000;
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.modal-backdrop{
    background-color: rgba(0,0,0, 0.3) !important;
}
.modal-dialog .modal-backdrop {
    background-color: rgba(255,255,255, 0.3) !important;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loading-txt {
    font-size: 1rem;
    font-weight: 700;
    line-height: 3.125rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto;
	color: #fff;
}
.loading-txt > div {
    position: absolute;
    right: 0px;
    top: 5px;
}
.showMonth .ui-datepicker-calendar{
	display: none !important;
}
.yum-body-wapper .modal-footer>:not(:last-child){ margin:0 ;}
.yum-body-wapper .ui-datepicker {
    border: none !important;
    border-radius: 0;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2);
    padding: 10px;
	width: 20rem;
}
.yum-body-wapper .ui-datepicker > div {
    border: none !important;
    background: none;
    padding: 0;
}

.yum-body-wapper .ui-datepicker .ui-datepicker-title {
    margin: 0 30px 0 0;
    text-align: left;
	font-weight: 400;
}

.yum-body-wapper .ui-datepicker .ui-datepicker-title select {
    font-size: .875em;
    border: 1px solid #ddd;
    margin: 0 5px 0 0;
    line-height: 1.5rem;
    padding: 5px 0;
	width: 40%;
}
.yum-body-wapper .ui-datepicker .ui-datepicker-prev, .yum-body-wapper .ui-datepicker .ui-datepicker-next {
    width: 1rem;
    height: 1.7rem;
    top: -11px;
	border: none !important;
    background: none !important;
}
.yum-body-wapper .ui-datepicker .ui-datepicker-prev {
    left: auto;
    right: 40px;
}

.yum-body-wapper .ui-datepicker .ui-datepicker-next {
    right: -5px;
}
.yum-body-wapper .ui-datepicker .ui-datepicker-prev span, 
.yum-body-wapper .ui-datepicker .ui-datepicker-next span {
    position: relative;
	text-indent: -99999px;
    width: 1rem;
    height: 1.7rem;
    background-repeat: no-repeat;
    background-position: center 8px;
}
span.ui-icon.ui-icon-circle-triangle-w::after, span.ui-icon.ui-icon-circle-triangle-e::after,
span.ui-icon.ui-icon-circle-triangle-w:after, span.ui-icon.ui-icon-circle-triangle-e:after {
    position: absolute;
    width: 1rem;
    height: 1.7rem;
    left: 0;
    top: 0;
    text-align: center;
    text-indent: -99999px;
    color: #000;
    font-family: FontAwesome;
    background: #fff;
    font-size: 1.5rem;
}
.ui-datepicker .ui-datepicker-prev span{
    background-image: url(../images/left_arrow.png);
} 
.ui-datepicker .ui-datepicker-next span{
    background-image: url(../images/right_arrow.png);
    margin-left: -10px !important;
}

.ui-datepicker th {
    font-weight: 400 !important;
    color: #aaa;
}
table.ui-datepicker-calendar::before,
table.ui-datepicker-calendar:before {
    width: 100%;
    height: 1px;
}

.ui-state-default {
    border: 1px solid transparent !important;
    background: none !important;
    text-align: center !important;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    margin: auto;
    line-height: 25px;
}

.ui-state-hover{
   border: 1px solid #00bfb3 !important; 
}

.ui-state-active {
	border: 1px solid #00bfb3 !important;	
   	background: #00bfb3 !important;
	color: #fff !important;
}
.admin-section .goal-wapper .goal-table-head{
	background-color: #00bfb3;
}
.admin-section .goal-wapper .goal-table-head > div{
	color: #fff;
}
.admin-section .goal-wapper.manage-files .goal-table-head > div{
    color: #000;
}
.admin-section .goal-listing-wapper > div,
.manage-files .goal-listing-wapper > div {
	margin-top: 5px;
}
.custom-select {
    width: 100%;
    border-radius: 0 !important;
    background: none;
    border: none !important;
    padding: .1em 0 !important;
    font-size: 0.875rem !important;
    height: auto;
	color: #000;
	background: none !important;
	height: auto !important;
}
.mat-form-field-underline.mat-disabled {
    background-color: rgba(0,0,0,.42) !important; 
    background-image: none !important; 
}
.mat-form-field{
    width: 100%;
}
.width100{ display: block; width:100%;}
ul.ngx-pagination {
    margin: 0;
    padding: 0;
    font-size: 0.875rem
}

.abz_pagination .ngx-pagination .current {
    background: #00bfb3;
	padding: 0.43rem 0.625rem;
}
.abz_pagination .ngx-pagination .current > div{
    color: #fff;
}
.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
	display: none !important;
}
.ngx-pagination .disabled {
    color: #aaa !important;
}
.goal-listing-wapper > div.edit-row {
    background: rgba(0, 0, 0, .04);
}

.admin-section .mat-form-field-infix {
    padding: 0;
    border-top: 1px solid transparent;
}

.admin-section .mat-input-element {
    background: #fff;
    border-radius: 0;
    padding: 0.5em .5em;
	border: 1px solid #c9c9c9;
}

.admin-section .taskEditor {
    background: #fff;
}
.admin-section .edit-row .mat-select-trigger {
    background: #fff;
	padding: 0 5px !important;
	font-size: 0.875rem;
}
.admin-section .edit-row .mat-select-trigger{
	left:5px !important;
}
.workflow-history {
    background-color: rgba(184, 189, 0, .2);
    margin: 10px 0 0;
    border-bottom: 1px solid #ccc;
}
.workflow-history > div {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-bottom: 0 none;
	position: relative;
}
.wf-table {
    margin-left: 30px;
}
.workflow-history .wf-table > div {
    font-size: 0.8125rem;
    float: left;
}
.workflow-history .wf-table > div::after{
    content: "|";
    padding: 0 20px;
}
.workflow-history .wf-table > div:last-child::after{
	padding: 0;
	content: normal;
}

.workflow-history > div > div > span{
    font-weight: 500;
    margin: 0 5px 0 0;
    color: #000;
}
.expd-icon {
    width: 30px;
    display: block;
	position: absolute;
}

.expd-icon .fa{
    font-size: 1.2rem;
    font-weight: 700;
	cursor: pointer;
}
.yum-body-wapper .alert {
    padding: 5px 15px;
    border-radius: 0;
    font-size: 0.8125rem;
    position: relative;
}
.yum-body-wapper .alert-danger {
    background-color: rgba(255, 0, 0, .025);
    border-color: #f00;
    color: #000 !important;
}
.yum-body-wapper .alert-success {
    background: rgba(76, 175, 80,.025);
    border-color: rgb(76, 175, 80);
    color: #000 !important;
}
.yum-body-wapper .mat-option {
    font-size: 0.875rem;
    line-height: 2.28rem;
    height: 2.28rem;
}
.Show-hide-goal .hide-goal{
	display: none;
}
.org-goal-col, 
.pa-goal-cat {
    position: relative;
}
.org-goal-col .fa, 
.pa-goal-cat .fa {
    position: absolute;
    left: 15px;
    top: 8px;
    color: #b8bd00
}
.org-goal-col > div, 
.pa-goal-cat > div{
    margin: 0 0 0 20px;
}
.mat-form-field-wrapper{
    padding-bottom: 1em;
}
.goal-list ul ul {
    padding: 0 0 0 15px;
 }
 
 .org-goal-col ul {
    padding: 0 0 0 15px;
 }
 .admin-section .goal-listing-wapper ul {
    padding: 0 0 0 15px;
 }
 .mat-select-trigger {
     color: #555 !important;
     font-size: 0.875rem !important;
 }
.goal-status-flow-section {
    margin: 15px auto 0;
}
.goal-status-flow {
	display: table;
	margin: 0 auto;
}
.goal-status-flow > div {
    float: left;
    display: block;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    margin-right: -1px;
    font-weight: 700;
    text-transform: uppercase;
}

.goal-status-flow > div .goal-status-bar {
    width: 100%;
    height: 3px;
    background-color: #ccc;
    display: block;
	position: relative;
	margin-top: -1px;
}
.goal-status-flow > div.active .goal-status-bar{
	background-color: #00bfb3;
}
span.goal-status-title {
    padding: 10px 20px 5px;
    display: block;
}
.goal-status-flow > div.active .goal-status-title{
	color: #00bfb3;
}
.goal-status-flow > div.active .goal-status-bar:after {
    content: "";
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #00bfb3;
    width:0;
    height:0;
    position: absolute;
    left: 50%;
    margin-left: -4px;
    top: 2px;
}
.add-edit-goal{
    height: auto;
    max-height: 95%;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.add-edit-goal .modal-content{
    height: 100%;
}
.add-edit-goal .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 75px);
    margin-right: -15px;
    padding-right: 15px;
}
.no-fade .modal{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.collapsed-content {
	max-height: 60px;
    overflow: hidden;
}
.full-content {
	height: auto;
	max-height: none;
}
.less-txt-link:after {
    content: 'less';
    margin-left: 5px;
}

.more-txt-link:after {
    content: 'more';
    margin-left: 5px;
}
.readmore {
    /*background-color: #949802; */
    color: #00BFB3 !important;
    font-size: 0.8125rem;
    cursor: pointer;
    margin: 10px auto 0 auto;
    display: block;
    width: 80px;
    text-align: center;
    border: 1px solid;
}

.bgreadColor{
	background: -moz-linear-gradient(top, rgba(251,251,251,0.7) 0%, rgba(251,251,251,1) 70%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(251,251,251,0.7) 0%,rgba(251,251,251,1) 70%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(251,251,251,0.7) 0%,rgba(251,251,251,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3fbfbfb', endColorstr='#fbfbfb',GradientType=0 ); /* IE6-9 */
	width: 100%;
    height: 20px;
    top: 45px;
    position: absolute;
}
.brand-GM-goal .goal-list > div{
    margin-left: -13px;
}
.scrollable-body{
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -15px;
    padding-right: 15px !important;
}
.ui-draggable-dragging {
    cursor: -webkit-grab;
    cursor: move;
}

.draggable:active{
    cursor : -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
.being-dragged{
    cursor : -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
label.mat-input-placeholder.mat-form-field-placeholder.mat-empty.mat-form-field-empty {
    margin-left: 0.5rem;
	font-size: 0.875rem;
}

.employee-management .select2-container--default .select2-selection--single, 
.emp-det .select2-container--default .select2-selection--single {
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid #919191;
	height: 31px;
}

.employee-management .select2-container .select2-selection--single .select2-selection__rendered, 
.emp-det .select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0.5em;
    font-size: 0.875rem;
    padding-top: 3px;
}
.emp-det {
    background: #f1f1f1;
}
.admin-section .emp-det .mat-input-element{
	background: #fff !important;
    border: none;
	font-size: 0.875rem;
}
.admin-section .emp-det .mat-input-element:disabled{
	background: none !important;
}
.admin-section .emp-det .mat-form-field-placeholder{
	font-size: 0.875rem;	
}
.form-validation .error{
    margin-top: -1.55em;
}
.tab-pane .mat-form-field-invalid .mat-form-field-placeholder{
    color:rgba(0,0,0,.54);
}
.tab-pane .mat-form-field-invalid .mat-form-field-ripple{
    background-color: rgba(0,0,0,.42);
}

.submited .mat-form-field-invalid .mat-form-field-ripple{
    background-color: #f00;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    margin: 0 !important;
    padding: 0.1em .6em 0.1em .6em !important;
}
.ui-datepicker > div.ui-datepicker-buttonpane{
    margin: 0 !important
}
.emp-det .select2-container--default .select2-selection--single, 
.custom-select .mat-select-trigger, 
.select-emp .select2-container--default .select2-selection--single {
    background: #fff;
 }
 
 .mat-select-value-text {
    padding: 0 5px;
 }
.mt-2px{margin-top: 2px !important;}

.idp-section .mat-form-field-infix {
    border-top: 0 !important;
}
.idp-section .plan-wapper .mat-form-field-infix {
	padding: 0;
}
.emp-Info input[type="text"] { cursor: default;}
.mat-form-field-placeholder-wrapper {font-size: 0.875rem;}
.plan-wapper .goal-listing-wapper > .bg-ef {background: #efefef;}
.plan-wapper .mat-input-element {
    background: #fff;
    border-radius: 0;
    font-size: 0.875rem;
    padding: 0.5em .5em;
    color: #717171 !important;
}
.idp-section .single-column{
    border: 0 none;
}
.idp-section .single-column .plan-table-head{
    padding-left: 15px;
    border-left: 1px solid #00bfb3;
}
.idp-section .single-column .goal-listing-wapper{
    border-left: 0 none;
    padding-top: 0;
    padding-bottom: 0;
}
/*=============Popup Related css============*/
.timeline-label {
    font-size: 0.875rem;
    color: #000;
}
.timeline-cal {
    float: right;
    position: relative;
}

.timeline-cal > input {
    width: 135px;
    font-size: 0.875rem;
    padding: 0 0 0 5px;
    height: 30px;
	cursor: pointer;
}

.timeline-cal > i {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 1.875rem;
    background-color: #00bfb3;
    color: #fff;
    pointer-events: none;
}
.deleteTask{
	float: right;
	margin: 0 0 0 5px;
}
.remarks {
    color: #8b8b8b;
    font-size: 0.8125rem;
    margin: 5px 0 0;
}
.remarks > * {
    color: #8b8b8b;
}
.mng-remark-title {
    color: #b8bd00;
    margin-right: 5px;
}
.modal-backdrop{
    background-color: rgba(255,255,255, 0.3);
}
.taskEditor .editor{
    height: 0;
    width: 0;
    resize: none;
    visibility: hidden;
}
.manage-tag-cascade .hide,
.manage-task-list.hidden{
    display: none !important;
}
.task-heading {
    font-size: 1rem;
    margin: 0;
    text-decoration: underline;
}

.bal-goal-list, .bal-goal-list-head {
    border: 1px solid #ddd;
}

.bal-goal-list-wapper {
    padding: 0 15px;
	font-size: 0.875rem;
}
.bal-goal-list{
    margin-top: -1px;
}

.border-left-1{border-left: 1px solid;}
.border-color-ddd {
    border-color: #ddd !important;
}
.delHwLead {
    float: none;
    margin: auto;
}
.btn-width180{width:180px;}
.emp-Info-goal-settings .goalStatus-info, .emp-Info .goalStatus-info{
    margin-top: 30px;
}
.goalStatus-info {
    background-color: #ffd622;
    border-radius: 20px;
	float: right;
}
.goalStatus-info md-chip.mat-chip:not(.mat-basic-chip) {    
    background: none !important;
    font-size: 0.8rem;
    display: table;
    float: right;
    padding: 5px 10px 2px;
    color: #9F8318;
    font-weight: 500;
    text-align: center;
}
.idp-textarea {
    border: 1px solid #c9c9c9;
    font-size: 0.875rem;
    min-height: 55px;
	width: 100%;
    resize: none;
}
.no-idp {
    text-align: center;
    font-size: 1rem;
    padding: 5px 0;
}
.no-idp i {
    color: #00bfb3;
    font-size: 1.75rem;
}

.no-idp p {
    color: #00bfb3;
}
.help-txt .fa {
    font-size: 1.125rem;
    color: #ff6e74;
    cursor: pointer;
    background: #fff;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    line-height: 14px;
}
.culture-help-text, .lts-rating-help-text {
    border: 1px solid #ddd;
    font-size: 0.75rem;
}

.culture-help-text th, .culture-help-text td,
.lts-rating-help-text th, .lts-rating-help-text td{
    padding: 5px 10px;
    border-top: 1px solid #ccc;
	min-width: 80px;
}

.culture-help-text td,
.lts-rating-help-text td,
.lts-rating-help-text th:not(:first-child){
    border-left: 1px solid #ccc;
}

.culture-help-text td ul, .lts-rating-help-text td ul{
    padding: 0 0 0 20px;
    margin: 0;
}
.search-cat-box {
    background: #eaeaea;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 0;
}
.mat-radio-label {
    white-space: normal !important;
    align-items: normal !important;
}
.input-full-width {
    width: 100% !important;
}
.ppr-title {
    font-size: 0.875rem;
    color: #fff;
	border-left: 1px solid #ecfffe;
}
.ppr-bdr-lt-none{
	border-left: none;
}
.ppr-rating-head > div{
	padding:0;
}
.ppr-bdr-bt{
	border-bottom: 1px solid #ecfffe;
}
.ppr-rating {
    text-transform: capitalize;
}
.ppr-grade-tcol{
	max-width: 6.3% !important;
}
.ppr-grade-col {
    max-width: 6.3% !important;
    margin-left: -3px;
}
.ppr-srate-tcol {
    max-width: 15.4% !important;
}
.ppr-cul-rate-col {
    max-width: 8% !important;
}

.ppr-lts-col {
    max-width: 7.4% !important;
}
.admin-section .admin-ppr .mat-input-element{
	border: none;
    padding-left: 5px;
    padding-right: 5px;
}
.mat-select-placeholder{
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}

.cul-ratings-modified,
.lts-ratings-modified{
    color: #FF6F75;
    font-weight: 500;
}
.cursor{
    cursor: pointer;
}
.how-lead-popup .mat-radio-button{
	display: block;
}
.hlp-radio .mat-radio-container {
    display: block;
    float: left;
}

.hlp-radio .mat-radio-label {
    display: block;
    overflow: hidden;
}

.hlp-radio .mat-radio-label-content {
    float: left;
    width: 90%;
}

.mat-select-panel {
    max-width: 500px !important;
}

.mat-option {
    white-space: normal !important;
    overflow: unset !important;
    line-height: 1.2rem !important;
    height: auto !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.ppr-rating .goal-listing-wapper > div {
    font-size: 0.75rem;
}
.ppr-status{
    font-size: 0.6875rem;
    color: #929292 !important;
}
.ppr-selectall-chk, .ppr-single-chk {
    display: block;
    width: 25px;
    float: left;
}

.ppr-emp-name-tit {
    display: block;
    color: #fff;
    float: left;
}
.ppr-single-chk {
    margin-left: -5px;
}
textarea{
    resize: none !important;
}
.ppr-modal label.mat-input-placeholder.mat-form-field-placeholder.mat-empty.mat-form-field-empty {
    margin-top: 5px;
}
.goal-listing-wapper > div.pmc-reportee-row {
    border-left: 5px solid #f38a2b;
    background: #fbe0c8 !important;
}

.goal-listing-wapper .pmc-reportee-row .plan-table-head-lb {
    background: #fbe0c8;
}
.idp-remark-btn {
	position: relative;
	display: inline-flex;
	padding: 0 5px;
	color: #fff;
	font-size: 0.6875rem;
	line-height: 1.25rem;
    background-color: #b8bd00;
    cursor: pointer;
}
.pmc-reportee-row .form-control:disabled, .form-control[readonly] {
    background-color: #fbede1 !important;
}
.hil-modify-status {
    color: #00bfb3;
    font-weight: 700;
    font-size: .75rem;
}
.admin-emp-sheet .select2-container--default .select2-selection--single {
    border: none;
    border-bottom: 1px solid #949494;
    border-radius: 0;
    color: #555 !important;
    font-size: 0.875rem !important;
}

.admin-section .admin-emp-sheet .mat-input-element{
    border: none;
}
.admin-section .admin-emp-sheet .goal-wapper .goal-table-head {
    background-color: #ecfffe;
}
.admin-section .admin-emp-sheet .goal-wapper .goal-table-head > div {
    color: #555;
}

.mat-form-field-infix {
    border-top: 0 !important;
}
.pa-head-bar{
    font-size: 0.875rem;
}
.pa-goal-remark .tit {
    color: #b8bd00;
}
.rating-remark,
.overall-rating-remark {
    width: 100%;
    border: 1px solid #ddd;
}
.pa-hbdr{
    border-left: 1px solid #ecfffe 
}
.pa-h-bbdr{
    border-bottom: 1px solid #ecfffe 
}
.pa-shead-title{
    color: #fff;
    line-height: 1.2;
    padding: 5px 0;
}
.pa-evl-listing .mat-checkbox-inner-container {
    width: 16px !important;
    height: 16px !important;
    background-color: #fff;
    border: 1px solid #c3c4c5 !important;
}

.view-pa-btn {
    font-size: 0.6875rem !important;
    text-transform: uppercase;
    padding: 0 5px;
    line-height: 1.25rem;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 15px;
    bottom: 5px;
}
.view-pa-btn.approve-btn{
    position: static;
}

.admin-tab {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc !important;
}

.admin-tab > li {
    float: left;
    margin-bottom: -1px;
    position: relative;
}

.admin-tab > li + li {
    margin-left: 30px;
}

.admin-tab > li a {
    color: #2e2e2e;
    font-weight: 500;
    padding: .5em 0;
    display: block;
    border: none;
    text-decoration: none;
}

.admin-tab > li  a.is-active {
    border-bottom: 3px solid #ed1c24 !important;
}

.tab-dropdown{
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 3px solid #ed1c24 !important;
    z-index: 1;
    top: 37px;
    width: 250px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    display: none;
    padding: 0;
}

.tab-dropdown li {
    margin: 0;
    display: block !important;
    font-size:0.875rem;
    width: 100%;
}
.tab-dropdown li:hover{
    background: #f1f1f1;
}

.admin-tab > li:hover .tab-dropdown {
    display: block;
}

.admin-content-wapper{
    padding: 15px;
}

.tab-dropdown li a {
    padding: .75em 1em;
    font-weight: normal;
}

.tab-dropdown li:not(:first-child) a {
    border-top: 1px solid #eee !important;
}

.tab-dropdown li a.is-active {
    border: none !important;
    background: #00bfb3;
    color: #fff;
}

.ngx-pagination a, .ngx-pagination button {
    padding: 0.43rem 0.625rem !important;
}
.emp-pa-rating, .emp-pa-rating-edit {
    width: 100%;
}
.emp-pa-rating-edit, .hide-rating {
    display: none;
}
.Show-rating {
    display: block;
}
.pa-evl-listing label {
    margin: 0;
    
}
.pa-evl-listing div {
    font-size: 0.8125rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0; 
}
.pa-goal-list {margin-left: -15px;margin-right: -15px;}

.pa-goal-list ul{
    padding-left: 30px;
}
.pa-goal-list ol {
    padding-left: 22px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e8e8e8;
}
.if-config-btn-wapper{
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 0 0;
}

input[type='number'] {
    -moz-appearance:textfield;
    -webkit-appearance: textfield;
    appearance: none;
}
.btn.disabled, .btn:disabled {
   cursor: pointer !important;
}
.goal-table-sub-head-con, .pay-range-sub-head {
    background: #ecfffe;
    font-size: 0.8125rem;
    font-weight: 500;
}

.col-tp-tit {
    text-align: center;
    padding: 10px 0 5px;
}

.goal-table-sub-head-con > div:not(:first-child),
.pay-range-list-head > div:not(:first-child),
.pay-range-sub-head > div:not(:first-child){
    border-left: 1px solid #ccc;
}

.col-tit {
    padding: 10px 15px;
}

.col-tp-border {
    border-top: 1px solid #ccc;
}

.col-bt-tit > div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-border {
    border-right: 1px solid #ccc;
}
.col-1.rating-col {
    -ms-flex: 0 0 12.5%;
    -webkit-box-flex: 0;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.promotion-criteria .mat-select-trigger {
    min-width: unset;
}

.promotion-criteria .table-body > div > div > div {
    padding-bottom: 5px;
}

.compensation-table, .benefits-table {
    overflow-x: scroll;
    padding: 0 0 20px;
    margin: 0 -15px;
}

.manage-pa-table{
    overflow-x: auto;
    padding: 0 0 20px;
}
.compensation-table table,
.manage-pa-table table,
.benefits-table table {
    width: 100%;
    font-size: 0.875rem;
    position: relative;
}
.compensation-table table.comp-tbl,
.manage-pa-table table.comp-tbl,
.benefits-table table.benefits-tbl  {
    border-collapse: separate;
    border-spacing: 0 5px;
}
.benefits-table table.benefits-tbl  {
    margin-top: -5px;
}
.benefits-table table td, .benefits-table table th {
    min-width: 105px;
    font-size: 0.8125rem;
}

.benefits-table table th{
    font-size: 0.8125rem !important;
    font-weight: 500;
}

.compensation-table table td, .compensation-table table th {
    min-width: 130px;
    font-size: 12px;
}

.manage-pa-table table td, .manage-pa-table table th {
    min-width: 120px;
    font-size: 0.8125rem;
}

.manage-pa-table table th{
    font-size: 	0.7rem;
    font-weight: 500;
    text-transform: uppercase;
}

.manage-pa-table table td.pa-col-empname,
.manage-pa-table table td.pa-function{
    min-width: 150px !important;
}

.compensation-table td,
.benefits-table table td {
    padding: 5px;
    vertical-align: top;
    text-align: right;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ccc;
}

.manage-pa-table td {
    padding: 5px 5px 25px;
    vertical-align: top;
    text-align: left;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ccc;
    position: relative;
}

.compensation-table td:last-child,
.manage-pa-table td:last-child,
.benefits-table table td:last-child{
    border-right: 1px solid #ccc;
}

.compensation-table td:first-child,
.manage-pa-table td:first-child{
    border-left: 5px solid #00bfb3;
}

.compensation-table .emp-comp-action-col {
    min-width: 80px;
}

.benefits-table thead {
    background: #ecfffe;
    font-size: 0.8125rem;
    font-weight: 500;
}

.benefits-table th + th {
    border-left: 1px solid #ccc;
}

.compensation-table thead,
.manage-pa-table thead {
    background: #00bfb3;
}
.compensation-table th,
.manage-pa-table th,
.benefits-table th {
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}

.benefits-table th{
    color: #555;
}

.compensation-table th + th,
.manage-pa-table th + th{
    border-left: 1px solid #fff;
}
.compensation-table th table tr + tr,
.manage-pa-table th table tr + tr {
    border-top: 1px solid #fff;
}
.compensation-table th span:not('.sort-icon'),
.manage-pa-table th span:not('.sort-icon'),
.benefits-table th span:not('.sort-icon') {
    padding: 5px;
    display: block;
}

.rating-inner-table-container{
    position: relative;
    height: 100%;
    padding: 0 !important;
}
.rating-inner-table{
    position: relative !important;
    height: 100%;
    table-layout: fixed;
}
 
 table.rating-inner-table td:last-child {
    border-right: none;
 }
 
 .pa-overall-wapper .compensation-table td {
     text-align: left;
 }
 
 .pa-overall-wapper .compensation-table td .mat-radio-button{
     display: block
 }
 .pa-overall-wapper .compensation-table th{
     padding: 8px 5px;
 }
table.rating-inner-table td:first-child{
    border-left: 0 none;
}
table.rating-inner-table td{
    border-top: 0 none;
    border-right: 0 none;
    border-bottom: 0 none;
}

.compensation-table td + td,
.manage-pa-table td + td,
.benefits-table td + td {
    border-left: 1px solid #ccc;
}
.benefits-table td:first-child{
    border-left: 1px solid #ccc;
}
.emp-comp-btn {
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.6875rem !important;
    padding: 0 5px;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    margin-left: 5px;
}

.emp-save-comp-btn{
    width: auto;
    display: table;
    text-transform: uppercase;
    font-size: 0.6875rem !important;
    padding: 0 5px;
    border: none;
    float: none;
    margin: 0 auto;
}
.compensation-table tr + tr, .compensation-table table.comp-tbl > tbody{
    border-top: 1px solid #ccc;
}
.employee-salary-sheet {
    background: #fafafa;
    border: 1px solid #ccc;
}
.emp-sal-sheet-tbl {
    width: 100%;
    font-size: 	0.875rem;
    border: 1px solid #ccc;
    background: #fff;
 }
 .emp-sal-sheet-tbl thead {
    background: #00bfb3;
     
 }
 .emp-sal-sheet-tbl th {
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500; 
    color: #767676; 
 }
 .emp-sal-sheet-tbl thead th{
    color: #fff;
    font-size: 0.8125rem;   
 }
 .emp-sal-sheet-tbl th + th{
     border-left: 1px solid #fff;
 }
 .emp-sal-sheet-tbl td + td, .emp-sal-sheet-tbl th + td{
     border-left: 1px solid #ccc;
 }
 .emp-sal-sheet-tbl td {
     text-align: right;
     padding: 5px 15px;
 }
 .emp-sal-sheet-tbl tr + tr{
     border-top: 1px solid #ccc;
 }
 .comp-type-tit {
    color: #000 !important;
    font-weight: 700 !important;
}
.emp-det-sal-sheet {
    font-size: 0.875rem;
}

.emp-det-sal-sheet .row + .row {
    margin-top: 10px;
}

.emp-det-sal-sheet .emp-tit-det {
    font-weight: 500;
    text-transform: capitalize ;
}

.view-link {
    display: block;
    float: right;
}

.view-link > a {
    line-height: 35px;
    font-size: 0.75rem;
    background: #00bfb3;
    font-weight: 500;
    color: #fff !important;
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none !important;
}

.no-employee {
    text-align: center;
    margin: 100px 30px;
    color: #00bfb3;
    font-weight: 500;
    font-size: 1.125rem;
}
.table-striped tbody tr,
.table-striped tbody tr td{
    background-color: #fbfbfb !important;
 }
 .pa-reportee-note {
    font-size: 0.875rem;
    font-style: italic;
    color: #b8bd00;
    font-weight: 500;
}
.area-couch-overall-wrapper {
    background: rgba(184, 189, 0, .2);
} 

.number-field {
    width: 70px !important;
    min-width: 70px !important;
}
/*==========================================*/
@media (min-width: 992px) {
    .modal-lg {
        width: 900px !important;
    }
    .how-lead-popup.modal-lg,
    .blnce-goal-popup.modal-lg{
        max-width: 96% !important;
        width: 90% !important;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.emp-task .task-content > ul:first-child { 
        margin-top: -22px; 
    }
}

@-moz-document url-prefix() { 
    .mat-form-field-underline {
        bottom: 3px !important;
    }
  }
  .word-break{
      word-break: break-all;
  }